{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="row mx-0 mb-5">
				<div class="col-12">
					<h2>Votre panier</h2>
					<p>Merci de visiter notre site !</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

