.card-body {
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


ul {

    list-style: none;
}
.textContent {
    margin: 0;
    padding: 0;
    text-align: center;
}

.card-info ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.card-info li {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    margin: 0 10px; /* Ajustez la marge selon vos préférences */
}

#quantityForm {
    min-width: 4em;
    max-width: 5em;
}

.card-info .card-text {
    margin: 0; 
}

.card-info .product-total,
.card-info .product-unit-price {
    margin-top: 5px; /* Ajoute un espace entre les éléments */
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: 10px;
}

input[type="number"] {
    border: none;
    background-color: whitesmoke;
    font-size: 1em;
}


.card-body .card-title{
font-size: 1.25em;

}

.panier {
    font-size: 3em;
    background: linear-gradient(to bottom right, #bfe198, #a2d0d6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
