{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<h2 class="h2-color">Qui sommes nous ?</h2>

			</div>
		</div>
	</div>
{% endblock %}
