{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous
{% endblock %}

{% block body %}

	<div class="container mb-5">
		<div class="row justify-content-center">
			<div class="col-9">
				<h2 class="h2-color text-center mt-3">Qui sommes nous ?</h2>
				<h4 class="text-center">
					Bonjour
				</h4>
				<div class="text-center">
					<p>
						Nous sommes 4 étudiants en cours de formation chez O'Clock en vue de l'optention d'un titre professionnelle DWWM
						<br>(develloppeur web et web mobile).</p>
					<p>
						Ce que vous avez sous les yeux est notre projet de fin de formation que l'on appelle affectueusement Apothéose.
					</p>
					<p>Le nom de notre promotion étant les Fajitas ils nous a semblé evident de faire un site a leur effigie et nous voilà à vous proposer ce merveilleux site de produits dérivés.</p>
					<p>Enjoy your visit
					</p>
					<p></p>
				</div>
				<div class="d-flex justify-content-center">
					<div class="tenor-gif-embed" data-postid="5800815" data-share-method="host" data-aspect-ratio="1.03347" data-width="10%">
						<a href="https://tenor.com/view/tacos-gif-5800815">Taco Cat GIF</a>from
						<a href="https://tenor.com/search/tacos-gifs">Tacos GIFs</a>
					</div>
				</div>
				<table class="table table-striped mt-3">
					<thead>
						<tr>
							<th scope="col">Développeurs</th>
							<th scope="col">Technologies utilisées</th>
							<th scope="col">Age</th>
							<th scope="col">Linked In</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Laetitia Mantel Lecroart</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>38</td>
							<td>
								<a href="https://www.linkedin.com/in/laetitia-mantel-lecroart" target="_blank">
									<i class="bi bi-linkedin"></i>
								</a>
							</td>
						</tr>
						<tr>
							<th scope="row">Anna Tariachvilli</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>28</td>
							<td>
								<a href="https://www.linkedin.com/in/anna-tariachvili/" target="_blank">
									<i class="bi bi-linkedin"></i>
								</a>
							</td>
						</tr>
						<tr>
							<th scope="row">Franck Richard</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>47</td>
							<td>
								<a href="" target="_blank">
									<i class="bi bi-linkedin"></i>
								</a>
							</td>
						</tr>
						<tr>
							<th scope="row">Jonathan Aulnette</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>32</td>
							<td>
								<a href="https://www.linkedin.com/in/jonathan-aul" target="_blank">
									<i class="bi bi-linkedin"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}
