{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous
{% endblock %}

{% block body %}

	<div class="container mb-5">
		<div class="row justify-content-center">
			<div class="col-9">
				<h2 class="h2-color text-center mt-3">Qui sommes nous ?</h2>

				<p class="mt-3"> Texte de présentation </p>

				<table class="table table-striped mt-3">
					
					<thead >
						<tr>
							<th scope="col">Développeur</th>
							<th scope="col">Technologie utilisée</th>
							<th scope="col">Age</th>
							<th scope="col">Linked In</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Laetitia Mantel Lecroart</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>38</td>
							<td><a href="www.linkedin.com/in/laetitia-mantel-lecroart" target="_blank"><i class="bi bi-linkedin"></i></a></td>
						</tr>
						<tr>
							<th scope="row">Anna Tariachvilli</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>28</td>
							<td><a href="https://www.linkedin.com/in/anna-tariachvili/" target="_blank"><i class="bi bi-linkedin"></i></a></td>

						</tr>
						<tr>
							<th scope="row">Franck Richard</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>47</td>
							<td><a href="" target="_blank"><i class="bi bi-linkedin"></i></a></td>
						</tr>
						<tr>
							<th scope="row">Jonathan Aulnette</th>
							<td>HTML/CSS Bootstrap JavaScript PHP Symfony</td>
							<td>32</td>
							<td><a href="www.linkedin.com/in/jonathan-aul" target="_blank"><i class="bi bi-linkedin"></i></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>
{% endblock %}
