{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-payment mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card-payment">
					<div
						class="card-body">
						{{ include('front/payment/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
