{# ce layout "back" hérite du layout principal #}
{% extends "base.html.twig" %}

{# sous-nav pour les pages du back #}
{% block sub_nav %}

	<nav class="navbar navbar-expand-lg navbar-light bg-color-backoffice">
		<div class="container px-4 px-lg-5 ">
			<h3>Backoffice</h3>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_back_product_index') }}">Produits</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_back_brand_index') }}">Marques</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_back_category_index') }}">Catégories</a>
				</li>
			</ul>
		</div>

	</nav>
{% endblock %}
