{# https://symfony.com/doc/current/controller/error_pages.html#use-default-error-controller #}
{% extends 'base.html.twig' %}

{% block title %}Page d'erreur{% endblock %}

{% block body %}
    <h1>Page non trouvé</h1>

    <p>
       la page que vous recherchez n'a pas été trouvé.
    </p>
{% endblock %}
