{% extends 'layouts/_error.html.twig' %}


{% block body %}


        <div class="d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 fw-bold">{{ status_code }}</h1>
                <p class="fs-3"> <span class="text-danger">Oops!</span> La page que vous cherchez n'a pas été trouvé</p>
                <p class="lead">{{ status_text }}</p>
                <a href="{{ path('front_main_home') }}" class="btn gradient btn-sm mb-4">Retour à l'accueil</a>
            </div>
        </div>

{% endblock %}

